.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/* ------------------------------------------------------------------------- */

body{
  margin: 0;
  padding: 0;
  background: #877A69;
}

a{
  color: #443b2d;
}

#content{
  position: relative;
  background: url(images/bg.png);
  width: 899px;
  margin: 0 auto;
}
#bottom{
  background: url(images/bg_bottom.png);
  width: 899px;
  height: 120px;
  margin: 0 auto;
}

/* ------------------------------------------------------------------------- */

#white{
  padding-top: 279px;
  padding-bottom: 30px;
  width: 761px;
  margin: 0 auto;
}
#white_1{
  background: url(images/white_1.png);
  height: 38px;
}
#white_3{
  background: url(images/white_3.png);
  height: 44px;
}
#white_2{
  background: url(images/white_2.png) repeat-y;
}

/* Hides overflow to give "window" to see slides through. */
#slideshow{
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
}

/* Very wide. Moves to the left/right with Prev/Next buttons. */
#slide_container{
  position: relative;
  left: 0;
  width: 6500px;
}

.slide{
  float: left;
  width: 500px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 500px;
  height: 500px;
}

#prev, #next{
  display: block;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  width: 51px;
  height: 0;
  padding-top: 51px;
  top: 600px;
  left: 50%;
}
#prev{
  background: url('images/l.png');
  margin-left: -361px;
}
#next{
  background: url('images/r.png');
  margin-left: 313px;
}

/* ------------------------------------------------------------------------- */

/* Absolute position - but relative to `.slide`. */
.popup{
  position: absolute;
}

.trigger{
  display: block;
  width: 40px;
  height: 40px;
}
.test .trigger{
/*  border: 1px solid cyan;*/
}

.bubble{
  display: none;
  background: #fff;
  padding: 5px;
  width: 200px;
  position: relative;
  top: -30px;
  left: 30px;
  z-index: 5;
  box-shadow: 1px 3px 3px #333;
  border: 1px solid #666;
  border-radius: 10px;
}

.bubble .image{
  float: left;
}

.bubble .content{
  margin: 5px 10px;
}

.bubble strong{
  color: #e26926;
  font-family: Arial;
  font-size: 11px;
}
.bubble span{
  color: #443b2d;
  font-family: Arial;
  font-size: 15px;
  display: block;
  margin: 7px 0;
}

.slide_info{
  position: absolute;
  bottom: 0;
}

.slide_info strong{
  font-family: Arial;
  font-size: 24px;
  color: #e26926;
}

.slide_info p{
  font-family: Arial;
  font-size: 12px;
  color: #443b2d;
  line-height: 1.4;
}

.slide_info img{
  float: right;
/*  position: relative;*/
/*  top: -20px;*/
}